@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Playfair+Display:wght@400;500;600;700&display=swap");

@import "tailwindcss";

:root {
  --primary-color: oklch(47.3% 0.137 46.201);
}

.active {
  text-decoration: underline;
  text-underline-offset: 0.3rem;
  text-decoration-color: var(--primary-color);
}

/* ---------- CUSTOM FONTS USING TAILWIND LAYERS ---------- */
@layer utilities {
  .font-playfair {
    font-family: "Playfair Display", serif;
  }

  .font-pacifico {
    font-family: "Pacifico", serif;
  }
}

.gradient-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(
    to top,
    rgb(0 0 0 / 0.6),
    rgb(0 0 0 / 0.2),
    transparent
  );
}
