@import "tailwindcss";

:root {
  --primary-color: oklch(47.3% 0.137 46.201);
}

.active {
  text-decoration: underline;
  text-underline-offset: 0.3rem;
  text-decoration-color: var(--primary-color);
}

.section-header,
.font-playfair {
  font-family: "Playfair Display", serif;
}

.gradient-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(
    to top,
    rgb(0 0 0 / 0.6),
    rgb(0 0 0 / 0.2),
    transparent
  );
}
